<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learnithardway.mybatis.repo.EmployeeMapper">

    <select id="findEmployee" resultType="com.learnithardway.mybatis.model.Employee">
        select id,name from Employee where
        <if test="name != null">
            name like #{name}
        </if>
        <if test="id != null">
            id = #{id}
        </if>
    </select>
    <delete id="deleteEmployee">
        delete from Employee where
        <if test="name != null">
            name like #{name}
        </if>
        <if test="id != null">
            id = #{id}
        </if>
    </delete>

</mapper>
